#root {
  max-width: 1280px;
  text-align: center;
}

body {
  background-color: hsl(180, 5%, 3%);
  color : #FFF;
  overflow-x: hidden;  
  font-family: Arial sans-serif;
  margin : 0;
  padding : 0;

}
body::-webkit-scrollbar{
  display : none;
}

